* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

.over {
  z-index: 10;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  text-align: center;
  color: white;
  font-family: Roboto, 'Nunito', Calibri, sans-serif;
  text-shadow: 0px 0px 5px black;
}

#main-container {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  pointer-events: all;
  text-align: center;

  background: blue;
  color: white;
  padding: 2em;
  border: 2px solid white;
  border-radius: 20px;

  transition: 0.75s;
}

#instruction-container {
  /* display: none; */
}

#end-screen-container {
  display: none;
}

#instruction {
  margin: 1.5em 0;
  font-size: 1.2em;
  text-align: justify;
}

#end-screen-container h2 {
  font-size: 3em;
}

#end-screen-points {
  font-size: 2em;
  margin: 1em 0;
}

#main-container button {
  font-size: 1.5em;
}

#direction-container {
  bottom: 5vh;
  opacity: 0;
  transition: 1s;
  font-size: 1.5em;

  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  transition: 0.5s;
  z-index: 1;

  display: none;
  /* display: flex; */
  flex-direction: column;
  gap: 10px;

  transition: 0.75s;
}

#direction-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.over button {
  font-size: 1em;
  border: none;
  border-radius: 15px;
  padding: 0.5em 2em;
  background: #a483d9;
  font-weight: bold;
  color: white;
  pointer-events: all;
  cursor: pointer !important;
}

h2 {
  font-size: 2em;
}